
@{
    ViewBag.Title = "Soy administrador";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<h1>SOY ADMINISTRADOR</h1>

<div class="contenedor">
    <p>
        <h4>Gestión de Ideas</h4>
        <button onclick="location.href='@Url.Action("Index", "Ideas")'" type="button" class="btn btn-primary botones-btn">CRUD Ideas</button>
    </p>
    <p>
        <h4>Gestión de Colores</h4>
        <button onclick="location.href='@Url.Action("Index", "Colors")'" type="button" class="btn btn-primary botones-btn">CRUD Colores</button>
    </p>

    <p>
        <h4>Gestión de Miembros</h4>
        <button onclick="location.href='@Url.Action("Index", "Miembroes")'" type="button" class="btn btn-primary botones-btn">CRUD Miembros</button>
    </p>
    <p>
        <h4>Estadisticas de las ideas</h4>
        <button onclick="location.href='@Url.Action("Operaciones", "Estadisticas")'" type="button" class="btn btn-primary botones-btn">Estadisticas</button>
    </p>
</div>

<style>

    body {
        background-image: url('../../Imagenes/Imagen_soy_administrador.png');
        background-size: 90%;
        background-color: #A5EAF3;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h1 {
        position: relative;
        top: 60px;
        margin-left: 300px;
        font-family: 'Roboto', sans-serif;
    }

    .btn-primary {
        background-color: #F2A154;
    }

    .btn-primary:hover {
        background-color: #0a00ff;
    }

    .contenedor {
        line-height: 1.5;
        word-wrap: break-word;
        background-color: white;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
        top: 80px;
        left: -150px;
        height: 450px;

    }

    .botones-btn {
        border: none;
        width: 200px;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        position: relative;
        top: 5px;
        
    }






</style>


