@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenido a nuestra aplicación</h1>
        <p class="lead">Nuestra aplicación es una plataforma increíble que te permite hacer cosas asombrosas. Aquí puedes aprender, explorar y crecer.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Aprende más »</a></p>
        <p>
            <button onclick="location.href='@Url.Action("Administrador", "Flux")'" type="button" class="btn btn-primary btn-md">Soy administrador</button>
            <button onclick="location.href='@Url.Action("Usuario", "Flux")'" type="button" class="btn btn-primary btn-md">Soy usuario</button>
        </p>
    </section>

   
</main>
